body {
    margin-left: 2em;
    font-family: sans-serif;
    background-color: #292929;
    color: white;
}

circle {
    fill-opacity: 0.7;
    cursor: pointer;
}

svg {
    font-size: 11px;
    font-family: sans-serif;
    text-anchor: middle;
}

body {
    height: 100%;
}

text {
    fill: white;
    cursor: pointer;
}

.legend__container {
    border: 1px solid white;
    width: 18.5em;
    padding-left: 1em;
}

p {
    font-size: .9em;
    line-height: .75em;
    font-weight: 600;
}

.startHover {
    opacity: 0.5;
}

.leaveHover {
    opacity: 1;
}